body {
  font-family: Arial, sans-serif;
  background-color: #94ff8b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.register-box {
  background-color: #eeffe4;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.register-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-box input {
  outline: none;
  width: 97%;
  padding: 10px 0 10px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group {
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #666;
}

.register-box button {
  width: 100%;
  padding: 10px;
  background-color: #76c979;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.register-box button:hover {
  background-color: #45a049;
}
